.container{
    max-width: 1440px;
    margin: 0 auto;
}
.rustam_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.logo{
    width: 45px;
    height: 45px;
}
.logo > img{
    width: 100%;
}
.rustam_section > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.rustam_section > ul > li > a{
    display: inline-block;
    color: black;
    font-size: 25px;
    font-weight: 600;
    opacity: .7;
}
.rustam_section > ul > li > a:hover{
    opacity: 1;
}